@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="Index" class="btn btn-primary btn-block">Управление программами</a>
                <a href="Index1" class="btn btn-primary btn-block">Управление категориями</a>
                <a href="Index2" class="btn btn-primary btn-block">Управление событиями</a>
                <a href="Index3" class="btn btn-primary btn-block">Управление заказами</a>
                <a href="Index4" class="btn btn-primary btn-block">Управление отзывами</a>
                <a href="Index5" class="btn btn-primary btn-block">Управление продавцами</a>
            </div>
            <div class="col-md-10">
                <!-- Основное содержимое страницы -->
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
        @*<div>
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
            @RenderBody()
        </div>
        <div id="nav" class="btn-group-vertical" role="group" aria-label="Navigation Buttons">
            <a href="Index" class="btn btn-primary btn-lg btn-block">Управление программами</a>
            <a href="Index1" class="btn btn-primary btn-lg btn-block">Управление категориями</a>
            <a href="Index2" class="btn btn-primary btn-lg btn-block">Управление событиями</a>
            <a href="Index3" class="btn btn-primary btn-lg btn-block">Управление заказами</a>
            <a href="Index4" class="btn btn-primary btn-lg btn-block">Управление отзывами</a>
            <a href="Index5" class="btn btn-primary btn-lg btn-block">Управление продавцами</a>

        </div>*@
</body>
</html>