@{
    Layout = null;
    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    bool showMenu = !(controller == "Admin" && action.StartsWith("Edit") || controller == "Account" && action.StartsWith("Login"));
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            @if (showMenu)
            {
                  <div class="col-md-2">
                    <a href="Index" class="btn btn-primary btn-block">Управление программами</a>
                    <a href="Index1" class="btn btn-primary btn-block">Управление категориями</a>
                    <a href="Index2" class="btn btn-primary btn-block">Управление событиями</a>
                    <a href="Index3" class="btn btn-primary btn-block">Управление заказами</a>
                    <a href="Index4" class="btn btn-primary btn-block">Управление отзывами</a>
                    <a href="Index5" class="btn btn-primary btn-block">Управление продавцами</a>
                    <a href="Index6" class="btn btn-primary btn-block">Отчетность</a>
                </div>
            }

              
                <div class="col-md-10">
                    
                    
                    
                    <div class="col-md-12">
                        
                        @if (TempData["message"] != null)
                        {
                            <div class="alert alert-success">@TempData["message"]</div>
                        }
                        @RenderBody()
                    </div> 
                </div>
            </div>
    </body>
</html>
