@model WebStore.Domain.Entities.ShippingDetails2

@{
    ViewBag.Title = "WebStore: Получение истории покупок";
    ViewBag.HideSidebar = true;
}

<h2 style="margin-left: 50px;">Получить историю покупко сейчас</h2>
<p style="margin-left: 50px;">Пожалуйста введите почту, на которую оформлялись покупки, и мы сразу отправим историю покупок!</p>

@using (Html.BeginForm("SendPurchaseHistory", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    <h3 style="margin-left: 50px;">Данные</h3>
    <div class="form-group " style="margin-left: 50px;">
        @Html.LabelFor(m => m.Line1)
        @Html.TextBoxFor(m => m.Line1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Line1)
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Получить историю" />
    </div>
}
