@{
    ViewBag.Title = "История отправлена";
    ViewBag.HideSidebar = true;

}

<h2>Успешно!!</h2>
<p>История ваших покупков в нашем онлайн магазине успешно отправлена вам на почту и скоро должна придти. Спасибо, что выбираете нас!.</p>