@{
    ViewBag.Title = "Заказ обработан";
    ViewBag.HideSidebar = true;

}

<h2 style="margin-left: 50px;">Спасибо!</h2>
<p style="margin-left: 50px;">Спасибо за выбор нашего магазина. Заказ в кратчайшие сроки будет отправлен вам на почту.</p>