@model WebStore.Domain.Entities.Cart

<style>
    .btn-default.navbar-btn {
        font-size: large;
        margin-left: 20px; /* Измените это значение, чтобы увеличить отступ слева */
    }
</style>

<div class="navbar-right">
    @Html.ActionLink("Заказать", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Ваша корзина:</b>
    @Model.Lines.Sum(x => x.Quantity) программ,
    @Model.ComputeTotalValue().ToString("# руб")
</div>


